@import './variables';

p {
  text-align: center;
}

.App {
  display: grid;
  font-family: $main-font;
  font-weight: 300;
  grid-gap: 10px;
}

.App-main {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 70px repeat(3, auto) 40px;
}

.App-welcome {
  grid-template-rows: 70px repeat(3, auto) 40px;
  height: 100vh;
}

.box-header {
  font-family: $header-font;
  font-size: 40px;
  text-align: center;
  padding: 25px 0 8px;
}

.bottom-container {
  border-top: 1px solid black;
  margin: 0 25px;
  padding-top: 12px;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.date {
  color: $dark-gray;
  font-size: 18px;
}

.day {
  font-weight: 400;
}

.high-low-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1500px) {
  .App-main {
    grid-template-columns: 0.5fr repeat(8, 1fr) 0.5fr;
  }
}

@media screen and (max-width: 1055px) {
  .App-main {
    grid-template-columns: 30px repeat(8, 1fr) 30px;
  }
}

@media screen and (max-width: 900px) {
  .App-main {
    grid-template-rows: repeat(6, auto);
  }
}

@media screen and (max-width: 480px) {
  .bottom-container {
    margin: 0;
  }

  .App-main {
    grid-template-columns: 10px repeat(8, 1fr) 10px;
  }  
}

