/*Nest the tags in Current*/

.Current {
  grid-column: 2/5;
  grid-row: 3;
  border: 2px solid #979797;
  border-radius: 50px;
  padding-bottom: 25px;
  margin-right: 10px;

  h3 {
    font-size: 30px;
    text-align: center;
  }

  h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
  }

  h4.high-low {
    width: 120px;
    text-align: center;
  }
  
  h5 {
    font-weight: 400;
    font-size: 18px;
  }
  
  p {
    line-height: 120%;
  }
  
  img {
    height: 112px;
  }
  
  .bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
  }
  
  .currentTemp {
    font-size: 36px;
    font-weight: 400;
  }
  
  .high-low-container {
    width: 230px;
  }
  
  .temp {
    font-weight: 300;
  }
}

@media screen and (max-width: 780px) {
  .Current {
    grid-column: 2/10;
    border: none;

    .bottom-container {
      width: 300px;
      margin: 0 auto 20px;
    }

    .box-header {
      padding-top: 10px;
    }
  }
}




