@import './variables';

.Header {
  font-family: $header-font;
  grid-column: 1/11;
  grid-row: 1;
  background-color: $turquoise;
}

.header-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  
  h1 {
    font-size: 48px;
  }
}


.logo {
  height: 46px;
  padding-left: 12px;
}