@import './variables';

.Search {
  grid-column: 1/11;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  p {
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 10px;
  }
}

#search-box {
  height: 30px;
  width: 450px;
  font-family: $main-font;
  font-size: 24px;
  font-weight: 300;
  color: $dark-gray;
  background-color: transparent;
  border: none;
}

.search-bar {
  height: 45px;
  width: 500px;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

.fa-search {
  padding: 10px;
  color: $dark-gray;
}