@import './variables';

.button {
  font-family: $main-font;
  font-size: 24px;
  color: white;
  border-radius: 15px;
  font-weight: $light;
  margin-left: 10px;
  border: none;
  background-color: $turquoise;
  padding: 0 10px;

  &:hover { 
    background-color: $blue; 
  }
}

.Search {
  grid-column: 1/11;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  p {
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 10px;
  }
}

#search-box {
  height: 30px;
  width: 450px;
  font-family: $main-font;
  font-size: 24px;
  font-weight: 300;
  color: $dark-gray;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
}

.search-bar {
  height: 45px;
  width: 500px;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

.fa-search {
  padding: 10px;
  color: $dark-gray;
}

.search-bar-content {
  text-transform: capitalize;
}

@media screen and (max-width: 620px) {
  .search-bar {
    width: 350px;
  }

  #search-box {
    width: 350px;
  }
}

@media screen and (max-width: 470px) {
  .button {
    font-size: 20px;
    height: 35px;
  }

  #search-box {
    font-size: 20px;
  }

  .search-bar {
    width: 300px;
    height: 35px;
  }

  .search-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
}