@import './variables';

.SevenHour {
  grid-column: 5/10;
  grid-row: 3;
  border: 2px solid $dark-gray;
  border-radius: 50px;
  margin-left: 10px;
  padding-bottom: 25px;
}

.hours-grid {
  padding: 15px 25px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
}

@media screen and (max-width: 900px) {
  .SevenHour {
    grid-row: 4;
    grid-column: 2/10;
    margin-left: 0;
  }
}

@media screen and (max-width: 620px) {
  .SevenHour {
    border: none;

  }
}