@import './variables';

.TenDay {
  grid-column: 2/10;
  grid-row: 4;
  margin: 20px 0 10px 0;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 40px;
    font-family: $header-font;
  }
}

.cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .TenDay {
    grid-row: 5;

    h1 {
      text-align: center;
    }
  }
}

@media screen and (max-width: 400px) {
  .cards-grid {
    justify-content: center;
  }

  .TenDay {
    h1 {
      border-bottom: 1px solid black;
      margin: 0 0 12px;
      padding-bottom: 8px;
    }
  }
}