/* Fonts */
$header-font: 'cabanaregular', sans-serif;
$main-font: 'Roboto Condensed', sans-serif;

// Font Weights
$light: 300;
$regular: 400;

// Colors
$blue: #62BEF3;
$dark-gray: #979797;
$turquoise: #72D1D5;
