/* Fonts */
$main-font: font-family: 'Roboto', sans-serif;
$header-font: 'cabanaregular', sans-serif;

// Font Weights
$light: 300;
$regular: 400;

// Colors
$dark-gray: #979797;
$header-bg: #72D1D5; 
